@font-face {
    font-family: 'AwesomeFont-Regular';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AwesomeFont-Bold';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

code {
    font-family: 'IBM Plex Mono', monospace;
    /* Additional styles for code elements */
}

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff; /* Bright white background */
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center; /* Align items vertically in the logo container */
}


.logo img {
    width: 40px; /* Adjust the width of the logo */
    margin-right: 10px; /* Add margin between logo and text */
}

/* Add a class for the spinning and shining effect */
.logo img:hover {
    animation: spinAndShine 1s forwards; /* Animation duration and fill-mode */
}

/* Define the spinAndShine animation */
@keyframes spinAndShine {
    0% {
        transform: rotateY(0deg) scale(1);
        filter: brightness(1);
    }
    50% {
        transform: rotateY(180deg) scale(1.2); /* Rotate 180 degrees horizontally and scale up */
        filter: brightness(1.5); /* Increase brightness */
    }
    100% {
        transform: rotateY(360deg) scale(1);
        filter: brightness(1);
    }
}

.logo a {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-size: 25px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
}

a:hover {
    color: #004170; /* Dark red color on hover for links */
}

.landing-section {
    position: relative;
    background-image: url('../img/landing-page-art-2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to white */
    text-align: center;
    padding: 80px 80px; /* Adjusted padding to make the landing image bigger */
    overflow: hidden; /* Ensure the overlay doesn't overflow */
    box-sizing: border-box; /* Include padding in the height calculation */
    min-height: 500px;
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
    animation: shine 3s infinite alternate; /* Shiny effect animation */
}

/* Define the shine animation */
@keyframes shine {
    0% {
        background-color: rgba(255, 255, 255, 0.5); /* Initial shine color */
    }
    100% {
        background-color: rgba(255, 255, 255, 0.9); /* Final shine color */
    }
}

.landing-content h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.739); /* Dark blue translucent overlay */
    z-index: -1;
    border-radius: 40px; /* Optional: Add border-radius for a rounded effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Adjust the box-shadow as needed */
}

.landing-content {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.landing-content h1 {
    font-size: 3.1em; /* Adjusted font size for the title */
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000; /* Set text color to white */
}

.landing-content p {
    font-size: 1.1em; /* Decreased font size for the description */
    margin-bottom: 30px;
    color: #000000; /* Set text color to white */
}

.buttons a {
    color: #fff; /* Set text color to white for buttons */
}

.apply-button,
.contact-button {
    background-color: #000; /* Sharp black background color for buttons */
    border: none; /* Remove button border */
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff; /* Set text color to white */
}

.apply-button:hover,
.contact-button:hover {
    background-color: #fff; /* White background color on hover for buttons */
    color: #001571; /* Set text color to black on hover for buttons */
}

.main-section {
    /* Additional styling for the main content section */
    background-color: #f0f0f0; /* Optional background color for the bottom section */
}

.banner {
    background-color: rgb(255, 255, 255);
    background-position: center;
    margin-top: 80px;
    max-width: 800px;
    color: #000000;
    text-align: center;
    font-size: 1em; /* Adjusted font size for the title */
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

section h2 {
    max-width: 100%; /* Adjusted max-width to allow responsiveness */
    margin: 20px auto;
    padding: 20px;
    background-color: #000000; /* Light blue background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #F0F8FF; /* Orange-red title color */
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; /* Increased font size for chunky title */
}

section p {
    max-width: 100%;
    margin-bottom: 20px;
}

.landing-content {
    margin-bottom: 20px; /* Reduced margin between landing content and banner */
}

.banner {
    max-width: 800px;
    margin: 20px auto; /* Adjusted margin for the banner */
    background-color: rgb(239, 241, 241);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
    font-size: 1em; /* Adjusted font size for the title */
    padding: 20px;
}

/* Additional Styling for the Boxes */
.table-section {
    flex: 1 1 calc(33.333% - 20px); /* Adjusted width for 3 boxes in a row */
    max-width: 300px; /* Reduced max-width for the boxes */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px; /* Added margin for spacing between boxes */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Additional Styling for Table */
.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .table-section {
        flex: 1 1 calc(50% - 20px); /* Adjusted width for 2 sections in a row on smaller screens */
    }
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
