<!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained"}} -->
<header class="wp-block-group"><!-- wp:block {"ref":163} /--></header>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">About Us</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":true,"contentSize":"10000px"}} /--></main>
<!-- /wp:group -->