<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}},"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group alignfull has-contrast-color has-text-color has-link-color" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:site-title {"fontSize":"large"} /-->

<!-- wp:navigation {"ref":8,"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right"},"fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:cover {"url":"https://ucbmtabtest.files.wordpress.com/2023/08/landing-page-art-2.jpg","id":24,"dimRatio":30,"focalPoint":{"x":0.23,"y":0.38},"minHeight":66,"minHeightUnit":"vh","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"48px","right":"48px","bottom":"48px","left":"48px"},"margin":{"top":"0"}},"color":{"duotone":["#000000","#0693e3"]}}} -->
<div class="wp-block-cover alignfull is-light" style="margin-top:0;padding-top:48px;padding-right:48px;padding-bottom:48px;padding-left:48px;min-height:66vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-24" alt="" src="https://ucbmtabtest.files.wordpress.com/2023/08/landing-page-art-2.jpg" style="object-position:23% 38%" data-object-fit="cover" data-object-position="23% 38%" /><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"48px"}},"layout":{"type":"constrained","contentSize":"75%","justifyContent":"left","wideSize":"75%"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"left","style":{"typography":{"fontSize":"100px","textTransform":"uppercase","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"1"}},"textColor":"white"} -->
<h2 class="wp-block-heading has-text-align-left has-white-color has-text-color" style="font-size:100px;font-style:normal;font-weight:700;letter-spacing:0px;line-height:1;text-transform:uppercase">Medical Technology<br>At Berkeley</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"72px"} -->
<div style="height:72px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"left","flexWrap":"nowrap"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"white","style":{"spacing":{"padding":{"top":"24px","right":"48px","bottom":"24px","left":"48px"}},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"0px"}},"className":"is-style-outline"} -->
<div class="wp-block-button has-custom-font-size is-style-outline" style="font-size:16px;font-style:normal;font-weight:600;letter-spacing:0px;text-transform:uppercase"><a class="wp-block-button__link has-white-color has-text-color wp-element-button" href="https://forms.gle/s5Fz7Uyy2i8bT5d37" style="padding-top:24px;padding-right:48px;padding-bottom:24px;padding-left:48px">APPLY NOW</a></div>
<!-- /wp:button -->

<!-- wp:button {"textColor":"white","style":{"spacing":{"padding":{"top":"24px","right":"48px","bottom":"24px","left":"48px"}},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"600","textTransform":"uppercase","letterSpacing":"0px"}},"className":"is-style-outline"} -->
<div class="wp-block-button has-custom-font-size is-style-outline" style="font-size:16px;font-style:normal;font-weight:600;letter-spacing:0px;text-transform:uppercase"><a class="wp-block-button__link has-white-color has-text-color wp-element-button" href="https://ucbmtabtest.wordpress.com/about-us-template/" style="padding-top:24px;padding-right:48px;padding-bottom:24px;padding-left:48px">CONTACT US</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","level":1,"align":"wide","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontSize":"3.13rem","lineHeight":"1.2","fontStyle":"normal","fontWeight":"800"}}} -->
<h1 class="wp-block-heading alignwide has-text-align-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;font-size:3.13rem;font-style:normal;font-weight:800;line-height:1.2">Build clinically impactful solutions with MedTech@Berkeley. </h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"backgroundColor":"background"} -->
<div class="wp-block-columns has-background-background-color has-background"><!-- wp:column {"width":"","layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><strong>Software Engineering</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"fontSize":"small","fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family has-small-font-size" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">From crafting innovative medical apps to developing software solutions that enhance patient care, our software engineering initiative merges technology and healthcare to drive a revolution. Join us in coding the future of medicine, where innovation translates into impactful change.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><strong>Medical Informatics</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"fontSize":"small","fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family has-small-font-size" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">We're committed to transforming raw healthcare data into actionable insights, shaping improved patient outcomes and streamlined healthcare systems. Explore the convergence of medicine and technology as we pioneer solutions that redefine the landscape of healthcare informatics.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family"><strong>Leverage Devices</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}},"typography":{"fontSize":"1rem"}},"fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70);font-size:1rem">Creativity meets purpose at MedTech at Berkeley, where we leverage and contribute to impactful medical devices. We're not content with envisioning a better healthcare future – we engineer it. Collaborate with us to develop devices that elevate patient well-being and redefine medical practices.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"backgroundColor":"background"} -->
<div class="wp-block-columns has-background-background-color has-background"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family"><strong>Scientific Writing</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"fontSize":"small","fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family has-small-font-size" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Unlock the art of scientific communication with us. Our adept writers and communicators delve into intricate medical subjects, translating complexity into accessible narratives. Through our editorial finesse, we share knowledge, ignite curiosity, and cultivate a deeper understanding of the medical and technological breakthroughs shaping our world.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family"><strong>Club-Wide Education</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70","top":"0","bottom":"0"}}},"fontSize":"small","fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family has-small-font-size" style="padding-top:0;padding-right:var(--wp--preset--spacing--70);padding-bottom:0;padding-left:var(--wp--preset--spacing--70)">Education stands as the cornerstone of MedTech at Berkeley. Our comprehensive educational programs empower members to broaden their horizons and cultivate a well-rounded skill set. From coding workshops to enlightening seminars and interactive sessions, we provide a platform for growth and exploration. Join us to learn, teach, and lead in the ever-evolving landscape of medical technology.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3,"fontFamily":"ibm-plex-sans"} -->
<h3 class="wp-block-heading has-text-align-center has-ibm-plex-sans-font-family"><strong>Community Outreach</strong></h3>
<!-- /wp:heading -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}},"fontSize":"small","fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family has-small-font-size" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">We recognize the potential of community engagement in effecting meaningful change. Through collaborative projects, workshops, and awareness campaigns, we bridge healthcare and technology with the broader community. Join us in fostering connections, promoting health education, and making an enduring impact that reaches far beyond our organization.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"7vw","bottom":"7vw"},"blockGap":"20px"},"color":{"gradient":"linear-gradient(135deg,rgb(238,238,238) 45%,rgb(169,184,195) 69%)"}},"textColor":"foreground","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-color has-text-color has-background" style="background:linear-gradient(135deg,rgb(238,238,238) 45%,rgb(169,184,195) 69%);margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-bottom:7vw"><!-- wp:paragraph {"align":"left","style":{"typography":{"fontSize":"1.76rem","lineHeight":"1.5"}},"fontFamily":"ibm-plex-sans"} -->
<p class="has-text-align-left has-ibm-plex-sans-font-family" style="font-size:1.76rem;line-height:1.5"><strong>"We think that AI is poised to transform medicine, delivering new, assistive technologies that will empower doctors to better serve their patients. Machine learning has dozens of possible application areas, but healthcare stands out as a remarkable opportunity to benefit people."</strong></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"left","style":{"typography":{"fontSize":"1.6rem"}},"fontFamily":"ibm-plex-sans"} -->
<h2 class="wp-block-heading has-text-align-left has-ibm-plex-sans-font-family" style="font-size:1.6rem"><strong>— Google Health</strong></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"backgroundColor":"custom-color-1"} -->
<div class="wp-block-group alignfull has-custom-color-1-background-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:heading -->
<h2 class="wp-block-heading">Trusted by Great Companies and Institutions</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontFamily":"ibm-plex-mono"} -->
<p class="has-ibm-plex-mono-font-family">Since MedTech@Berkeley's inception, our diverse teams have collaborated on numerous projects, partnering with a spectrum of medical institutions, healthtech startups, and nonprofit organizations globally. Our strong network of industry affiliations provides students with unique prospects to engage with medical professionals, engineers, and researchers, facilitating pathways to internships, jobs, and valuable insights within the dynamic field of medical technology. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"left","width":75,"className":"is-style-fill"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-75 is-style-fill"><a class="wp-block-button__link has-text-align-left wp-element-button" href="http://ucbmtabtest.wordpress.com/projects/">MedTech@Berkeley's Past Project Portfolio</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"style":{"spacing":[]},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"align":"center","id":239,"width":"269px","height":"auto","sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image aligncenter size-large is-resized"><a href="https://healthtech.berkeley.edu/"><img src="https://ucbmtabtest.files.wordpress.com/2023/10/screenshot-2023-10-26-at-6.46.01-pm.png?w=510" alt="" class="wp-image-239" style="width:269px;height:auto" /></a></figure>
<!-- /wp:image -->

<!-- wp:image {"id":127,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/landingpagecompanies-1.png?w=1024" alt="" class="wp-image-127" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"backgroundColor":"foreground","textColor":"background","layout":{"inherit":false}} -->
<div class="wp-block-group alignfull has-background-color has-foreground-background-color has-text-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"blockGap":{"left":"0px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:60%"><!-- wp:image {"align":"center","id":185,"width":"556px","height":"auto","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image aligncenter size-large is-resized"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/medtechfinal-logo.png?w=1024" alt="" class="wp-image-185" style="width:556px;height:auto" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"50%","style":{"spacing":{"padding":{"right":"8.3%","left":"8.3%"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:8.3%;padding-left:8.3%;flex-basis:50%"><!-- wp:heading {"level":1,"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"className":"margin-top-half"} -->
<h1 class="wp-block-heading margin-top-half" style="padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)">Recent Highlights</h1>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<h4 class="wp-block-heading" style="margin-top:0;margin-bottom:0">Partnered with OxNeurotech: Oxford University's Neurotechnology Society</h4>
<!-- /wp:heading -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Achieving global impact with MedTech@Berkeley projects such as&nbsp;<em>Emerge Learning</em>&nbsp;deployed across North America and South Asia</h4>
<!-- /wp:heading -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Developing software and informatics solutions for directly impactful academic and industry organizations</h4>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->