<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:block {"ref":163} /-->

<!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">Projects</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"10000px"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":189,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/pexels-photo-7089020.jpeg" alt="" class="wp-image-189" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":190,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/cznmcy1wcml2yxrll3jhd3bpegvsx2ltywdlcy93zwjzaxrlx2nvbnrlbnqvbhivzmw1mdy2njq0oty4ny1pbwfnzs1rewjlzwqyac5qcgc.jpg" alt="" class="wp-image-190" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":125,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/som_web_vert_lg.png" alt="" class="wp-image-125" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":191,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://ucbmtabtest.files.wordpress.com/2023/08/pexels-photo-6754163.jpeg" alt="" class="wp-image-191" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":4,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-top:0px;margin-bottom:0px" />
<!-- /wp:separator -->

<!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} -->
<div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--50)"><!-- wp:column {"width":"28%"} -->
<div class="wp-block-column" style="flex-basis:28%"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"},":hover":{"color":{"text":"var:preset|color|primary"}}}},"spacing":{"margin":{"right":"0px","bottom":"0px","left":"0px","top":"0px"}},"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"700","lineHeight":"1.6"}},"fontSize":"small"} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"top":"0.5rem"}},"typography":{"textTransform":"none","letterSpacing":"0px"}},"fontSize":"small"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"44%"} -->
<div class="wp-block-column" style="flex-basis:44%"><!-- wp:post-excerpt {"showMoreOnNewLine":false,"fontSize":"small"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"28%"} -->
<div class="wp-block-column" style="flex-basis:28%"><!-- wp:post-terms {"term":"category","fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>No results found.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" />
<!-- /wp:separator -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small"} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:block {"ref":151} /-->